html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0px 0px 20px #aaaaaa;
  box-sizing: content-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.178);
  width: 85vw;
  min-height: 85vh;
  margin: 40px auto;
  box-shadow: 2px 2px 10px rgb(102, 102, 102);
  border-radius: 10px;
  align-self: self-start;
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: 0;
}

.container {
  padding: 0 10px;
  margin: 0 10px;
}

.todo-form button,
.todo-form input {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  border: 1px white ridge;
  background-color: rgba(255, 255, 255, 0.733);
  color: rgb(53, 53, 53);
  font-weight: 550;
}

input:focus {
  outline: none;
}
.checkbox-wrapper span {
  padding: 3px;
  outline: none;
}
.todo-form button {
  cursor: pointer;
}
.todo-form button:hover {
  box-shadow: 1px 1px 3px rgb(82, 81, 81);
}

.todo-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5px;
}

.todo-stats {
  display: flex;
  justify-content: space-between;
}
.todo-stats span {
  padding: 5px 10px 0 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  text-align: left;
  width: 100%;
}

.todo-list [type='checkbox']:checked ~ span {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-list {
  padding-left: 0;
}

.todo-list .remove-task {
  width: 18px;
  height: 18px;
  padding: 2.5px;
  font-size: 0.5em;
  border-radius: 50%;
  border: 1px white ridge;
  cursor: pointer;
  margin-right: 15px;
}

#geo {
  margin-right: 20px;
}

#weather {
  line-height: 0;
  padding: 0;
  margin: 0;
  text-align: right;
}

#location {
  text-align: right;
}

#time {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  line-height: 0.7em;
  padding: 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

#img-author {
  margin: 0 20px;
  padding-bottom: 0;
  padding-top: 60px;
  font-size: 0.8em;
}

#quote {
  margin: 10px 20px;
  text-align: right;
}

@media only screen and (max-width: 400px) {
  #geo {
    text-align: right;
    padding-right: 20px;
  }
  #weather img {
    width: 45px;
  }
  #weather h2 {
    font-size: 0.8em;
    padding-right: 10px;
  }
  #location {
    font-size: 0.8em;
    padding-right: 20px;
    display: none;
  }
  #time {
    font-size: 1.2em;
  }
  #quote {
    font-size: 0.8em;
  }
}
